<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
        @keyframes jump {
            0% {
                top: 200px;
            }

            50% {
                top: 150px;
            }

            100% {
                top: 200px;
            }
        }
    </style>

    <div ng-app="myApp" ng-controller="myCtrl">

        <button ng-click="upFunction()">&#9757;</button>
        <button ng-click="lFunction()">&#9756;</button>
        <button ng-click="rFunction()">&#9755;</button>

        <div id="uID" style="position:absolute;top:200px;right:200px">hi</div>
        <div style="position:relative; top:200px;right:0px; background-color:aqua; height:2000px;width:2000px">
        </div>
        <div id="tut" style="background-color:green;position:absolute;width:10px;height:10px;top:200px;right:50px">
        </div>

    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $interval) {
            $scope.x = 200;
            $scope.y = 200;
            $scope.canJump = true;
            var height=0

            $scope.upFunction = function () {
                $scope.canJump = false
                document.getElementById("uID").style = "position:absolute;right:" + $scope.x + "px;" + "top:" + ($scope.y-50) + "px";
            };


            $scope.downFunction = function () {
                document.getElementById("uID").style = "position:absolute;right:" + $scope.x + "px;" + "top:" + ($scope.y) + "px";
            };

            $scope.lFunction = function () {
                $scope.x = $scope.x + 10;
                document.getElementById("uID").style = "position:absolute;right:" + $scope.x + "px;" + "top:" + $scope.y + "px";
            };

            $scope.rFunction = function () {
                $scope.x = $scope.x - 10;
                document.getElementById("uID").style = "position:absolute;right:" + $scope.x + "px;" + "top:" + $scope.y + "px";
            };

            $scope.lTFunction = function () {
                if ($scope.tX < 1000) {
                    $scope.tX = $scope.tX + 10;
                }
                else {
                    $scope.tX = 0;
                }
                document.getElementById("tut").style = "background-color:green;position:absolute;width:10px;height:10px;right:" + $scope.tX + "px;" + "top:200px";
            };

            $interval(function () {
                if (!$scope.canJump) {
                    height++;

                    if (height > 5) {
                        $scope.downFunction()
                        height = 0
                        $scope.canJump = true;
                    }
                }
                $scope.lTFunction();
                var u = document.getElementById("uID").attributes.getNamedItem("style").value.split(";right:")[1]
                var t = document.getElementById("tut").attributes.getNamedItem("style").value.split("right:")[1];
                var uDown = document.getElementById("uID").attributes.getNamedItem("style").value.split(";right:")[0].endsWith("top:200px")
                if (t == u) {
                    if (uDown) {
                        alert("hit")
                    }
                }

            }, 100);
        }
            );
    </script>

<img src="https://robertsvernon.github.io/hello-world/FFCar.png" />   
